

<body>
		<div class="sidebar">
			<div class="label">
			  <img src="../../assets/sidebar-img.png" alt="" />
			</div>

			<img src="../../assets/avatar-male2.png" class="imus">
		

			<br><br>
			<a  routerLink="/home">
				Inicio
			</a>
			<br>

			<br><br>
			
			<a routerLink="/facturacion">
				Facturacion
			</a>
			<br>
			<br><br>
			<a  routerLink="/pedidos">
				Pedidos
			</a>
			<br><br><br>
			<a routerLink="/albaran">
				Albaran
			</a>
			<br><br><br>
			<a routerLink="/proveedores">
				Proveedor
			</a>
			<br><br><br>
			<a routerLink="/clientes">
				Clientes
			</a>
			<br><br><br>
			<a routerLink="/materiales">
				Materiales
			</a>
			<br>
		</div>
	  </body>